$wrap-width = convert(hexo-config('layout.article_width'))
$aside-width = convert(hexo-config('layout.sidebar_width'))

.sidebar
  left - $aside-width
  width $aside-width
.navbar-toggle
  left 1.5rem + $aside-width
.search-form-wrap
  right $aside-width

@media(min-width: 768px)
  .outer, .wrap
    width $wrap-width !important
@media(max-width: 768px)
  .tocbot
    display none !important
  .content
    transform translateX($aside-width) !important
    &.on
      transform translateX(0) !important